{% extends 'admin/master.html' %}


{% block body %}

    <div class="container-fluid ">

        <div class="btn-group btn-group-justified container-fluid"style="width:100vw; padding-right:60px ; padding-left:0px ; margin-left:0px" > 
            <a href="{{ url_for( 'camera_dashboard.camera_capture' ) }}" class="btn btn-primary " >Capture</a>
            <a href="{{ url_for( 'camera_dashboard.get_gallery' ) }}" class="btn btn-primary ">Preview</a>
            <a href="#" class="btn btn-primary ">Save</a>
        </div>
        
    </div>

    <div class="container-fluid d-flex justify-content-center">

        <form id="upload-form" action="{{ url_for('camera_dashboard.upload') }}" method="POST" enctype="multipart/form-data">

            <strong>Files:</strong><br>
            <input id="file-picker" type="file" name="file" accept="image/*" multiple>
            <div id="msg"></div>
            <input type="submit" value="Upload!" id="upload-button">
        </form>

    </div>






{% endblock body %}


{% block my_js %}

<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
{% endblock my_js %}