{% extends 'admin/master.html' %}


{% block body %}

    <div class="container-fluid ">

        <div class="btn-group btn-group-justified container-fluid"style="width:100vw; padding-right:60px ; padding-left:0px ; margin-left:0px" > 
            <a href="{{ url_for( 'camera_dashboard.camera_capture' ) }}" class="btn btn-primary " >Capture</a>
            <a href="{{ url_for( 'camera_dashboard.get_gallery' ) }}" class="btn btn-primary ">Preview</a>
            <a href="#" class="btn btn-primary ">Save</a>
        </div>
        
    </div>

    <div class="container-fluid d-flex justify-content-center">

        <form id="upload-form" action="{{ url_for('camera_dashboard.upload') }}" method="POST" enctype="multipart/form-data">

            <strong>Files:</strong><br>
            <input id="file-picker" type="file" name="file" accept="image/*" multiple>
            <div id="msg"></div>
            <input type="submit" value="Upload!" id="upload-button">
        </form>

    </div>

    <div class="container-fluid">

        <h1 class="page-header d-flex justify-content-center">Preview Gallery</h1>
        
        <hr>
      
    </div>

    {% for dir , image_name in zip(directory, image_names) %}

        {% if dir == ''  -%}
        <div class="row d-flex justify-content-center">    
            <img class="img-responsive img-thumbnail " src="{{url_for('camera_dashboard.send_image', directory = 'None', filename=image_name)}}" style="width: 50vw;">
        </div>
        {% else -%}
        <div class="row d-flex justify-content-center">    
            <img class="img-responsive img-thumbnail " src="{{url_for('camera_dashboard.send_image', directory = dir, filename=image_name)}}" style="width: 50vw;">
        </div>
        {% endif %}
    
    {% endfor %}

 

{% endblock %}


{% block my_js %}


{% endblock my_js %}